apiVersion: v1
kind: Service
metadata:
  name: home-assistant
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
  selector:
    app: home-assistant
